@font-face {
    font-family: cerova;
    src: url("CerovaRegular-BLA6G.otf")
}
@font-face{
    font-family: inter;
    src: url("/Inter,Space_Grotesk/Inter/Inter-VariableFont_opsz,wght.ttf")
}

:root {
    --header-height: 5rem;
}

body {
    width: 100vw;
    color:white;
    font-family: inter;
}

main {
    margin-top: 10vh;
    flex-grow: 1;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh;
    background-color: #2b6e6d;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overscroll-behavior: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    z-index:10000;
}
header img {
    height: 7vh;
}
.main-head-name {
    font-family: cerova;
    font-size: 5rem;
    color: #000000;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    scroll-snap-align: start;
    width: 100vw;
}

.page {
    min-height: 90vh;
}
form{
    display: inline;
    border: 1x solid gold;
    height: 70vh;
}

