.post_container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    max-width: 102ch;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 0 1.5rem;
}
.creditsdate{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    text-decoration: dashed ;
    font-size: 13px;
    color: rgba(206, 206, 206, 0.595);
}
.heading
{
    display: flex;
    justify-content: center;
}
.thumbnail{
    height:60vh;
    max-width: calc(100vw - 1vh);
    /* aspect-ratio: 1/1; */
}
.imagecontainer
{
    display: flex;
    justify-content: center;
}
.paragraphs
{
    display:flex;
    flex-direction:column;
    text-wrap: 10vw;
    justify-content:center;
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: Space Grotesk;
}
p1{
    font-family: inter;
}
